body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-container {
  background-color: whitesmoke;
  /* border: 2px solid black; */
  margin-top: 20px;
  height: 200px;
  width: 70%;
}

/* ----------Navbar---------- */

.navbar {
  display: flex;
  /* border: 2px solid red; */
  height: 50px;
  justify-content: space-between;
  background-color: #8018e1;
  align-items: center;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 70%;
  /* border: 2px solid red; */
  position: relative;
}

.nav-center input {
  height: 70%;
  width: 100%;
  font-size: 1rem;
  padding-left: 6%;
}

.nav-center .search-icon {
  height: 50%;
  position: absolute;
  left: 1%;
  /* margin-left: 2%; */
}

.nav-left {
  min-width: 15%;
}

.nav-right {
  /* border: 2px solid red; */
  height: 100%;
  min-width: 14%;
}

.nav-right ul {
  display: flex;
  justify-content: space-around;
}
.nav-right ul li {
  list-style: none;
}

.nav-right ul li a {
  color: whitesmoke;
  text-decoration: None;
}

.nav-right ul li {
  color: whitesmoke;
  cursor: pointer;
}

/* ----------Post List---------- */

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------Login Form---------- */

.login-form,
.profile-container {
  margin-top: 5% !important;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  /* border: 2px solid ; */
  background-color: whitesmoke;
  position: relative;
}

.login-form .login-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 3%;
}

.login-form .input-title {
  font-size: 0.8rem;
  position: absolute;
  left: 10%;
}

.login-form input {
  width: 80%;
  height: 2rem;
  margin-bottom: 5%;
  font-size: 1rem;
  background-color: whitesmoke;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  margin-bottom: 10%;
  margin-top: 3%;
  width: 80%;
  font-size: 1.2rem;
  padding: 1.4%;
  background-color: #8018e1;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-msg {
  color: red;
}

/* ----------Profile---------- */

.profile-container .field {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
}

.btn-edit,
.btn-save,
.btn-back {
  font-size: 1rem;
  padding: 2% 3%;
  margin: 10% 5%;
  background-color: #8018e1;
  border-radius: 5px;
  color: whitesmoke;
  outline: None;
  border: None;
}
