body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}
/* ----------Navbar---------- */

.navbar {
  display: flex;
  /* border: 2px solid red; */
  height: 50px;
  justify-content: space-between;
  background-color: #8018e1;
  align-items: center;
}

/* .nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 70%;
  
  position: relative;
} */

.nav-center {
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 70%;
  /* border: 2px solid black; */
}

.search-container {
  /* border: 2px solid green; */
  position: relative;
}

/* .nav-center input {
  height: 70%;
  width: 100%;
  font-size: 1rem;
  padding-left: 6%;
  border-radius: 5px;
  border: none;
  outline: none;
} */

.search-container input {
  height: 70%;
  width: 90%;
  margin-top: 1%;
  font-size: 1rem;
  padding-left: 6%;
  border-radius: 5px;
  border: none;
  outline: none;
}

.nav-center .search-icon {
  height: 50%;
  position: absolute;
  left: 1%;
  color: grey;
  top: 35%;

  /* margin-left: 2%; */
}

.search-result-container {
  background-color: white;
  margin: 1%;
  /* border: 2px solid pink; */
  width: 95%;

  z-index: 1;
  position: relative;
}

.search-avatar-img {
  max-width: 40px;
}

.search-result-item {
  display: flex;
  border-radius: 5px;
  margin-top: 2%;
}

.search-result-item:hover {
  background-color: #eacdcd;
}

/* .search-container .search-icon {
  height: 50%;
  position: absolute;
  left: 1%;
  color: grey;
} */

.nav-left {
  min-width: 15%;
}

.nav-right {
  /* border: 2px solid red; */
  height: 100%;
  min-width: 14%;
}

.nav-right ul {
  display: flex;
  justify-content: space-around;
}
.nav-right ul li {
  list-style: none;
}

.nav-right ul li a {
  color: whitesmoke;
  text-decoration: None;
}

.nav-right ul li {
  color: whitesmoke;
  cursor: pointer;
}

/* ----------Post List---------- */

.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  background-color: whitesmoke;
  /* border: 2px solid black; */
  margin-top: 20px;
  min-height: 200px;
  /* margin-left: 5%; */
  width: 80%;
  /* display: flex; */
}

/* ----------Login Form---------- */

.login-form,
.profile-container {
  margin-top: 5% !important;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-radius: 10px;
  /* border: 2px solid ; */
  background-color: whitesmoke;
  position: relative;
}

.login-form .login-heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 5%;
  margin-bottom: 3%;
}

.login-form .input-title {
  font-size: 0.8rem;
  position: absolute;
  left: 10%;
}

.login-form input {
  width: 80%;
  height: 2rem;
  margin-bottom: 5%;
  font-size: 1rem;
  background-color: whitesmoke;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

.login-form input:focus {
  outline: none;
}

.login-form button {
  margin-bottom: 10%;
  margin-top: 3%;
  width: 80%;
  font-size: 1.2rem;
  padding: 1.4%;
  background-color: #8018e1;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-msg {
  color: red;
}

/* ----------Profile---------- */

.profile-container .field {
  display: flex;
  justify-content: space-between;
  margin: 2% 10%;
}

.btn-edit,
.btn-save,
.btn-back {
  font-size: 1rem;
  padding: 2% 3%;
  margin: 10% 5%;
  background-color: #8018e1;
  border-radius: 5px;
  color: whitesmoke;
  outline: None;
  border: None;
}

.home-ui {
  display: flex;
  margin-top: 20px;
}
.post-list-container {
  width: 70%;
}

/* ----------Create Post---------- */

.create-post {
  /* border: 2px solid red; */
  margin-top: 20px;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.post-text-area-container {
  width: 100%;
  /* border: 2px solid greenyellow; */
  text-align: center;
  height: 80%;
}

.post-text-area {
  width: 80%;
  height: 90%;
  resize: none;
  outline: none;
  border: none;
  font-size: 1.1rem;
  border-radius: 5px;
  letter-spacing: 0.1rem;
  background: whitesmoke;
}

.post-btn {
  position: absolute;
  top: 80%;
  right: 10%;
  font-size: 1rem;
  background-color: #fc7745;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

/* ----------Friends Container---------- */

.friends-container {
  background-color: whitesmoke;
  margin-top: 20px;
  max-height: 50vh;
  width: 20%;
  position: sticky;
  top: 5%;
}

.friends-heading {
  border: 1px solid grey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  letter-spacing: 0.1rem;
  padding-left: 1rem;
}

.friend-container {
  /* border: 2px solid red; */
  /* margin-top: 2%; */
  font-size: 1rem;
  padding: 3%;
  border-radius: 5px;
  display: flex;
  max-height: 25px;
  /* background-color: lightgrey; */
}

.friend-container:hover {
  background-color: #eacdcd;
}

.friends-profile {
  text-decoration: none;
  color: black;
}

/* .avatar {
  font-size: 2rem;
  height: 100px;
} */

.avatar-img {
  height: 100%;
  /* width: 100%; */
}

.img-continer {
  width: 10%;
}

.profile-img-container {
  height: 100px;
}

.post-img-container {
  height: 50px;
  width: 10%;
}
.post-top-container {
  display: flex;
}

.post-content {
  margin-top: 2%;
  margin-left: 2%;
}

.like-container {
  border: 2px solid lightgrey;
  border-left: none;
  border-right: none;
}

.like-icon {
  margin-left: 2%;
  color: red;
}

.dislike-icon {
  margin-left: 2%;
  color: grey;
}

/* ----------Comments Container---------- */

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comment-input {
  margin-top: 2%;
  width: 90%;
  font-size: 1rem;
  border: 1px solid grey;
  padding: 0.5%;
  outline: none;
  border-radius: 5px;
}

.comment-list {
  margin-top: 2%;
  width: 90%;
  margin-bottom: 2%;
}

.comment-item {
  background-color: #eacdcd;
  border-radius: 5px;
}

.comment-item-title {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  margin: 1% 2%;
  color: grey;
  font-weight: 500;
}

.comment-content {
  margin-left: 2%;
  padding-bottom: 1%;
}
